<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
   App Component!!!
  </h1>
  <h1 style="color: brown">Interpolation</h1>
 <app-test></app-test>
  </div>
  <h1 style="text-align:center;color: brown">Property-Binding</h1>
  <app-attribute-binding style="text-align:center"></app-attribute-binding>
  <br><br>
  <h1 style="text-align:center;color: brown">Class-Binding</h1>
  <app-class-binding></app-class-binding>
  <h1 style="text-align:center;color: brown">Style-Binding</h1>
  <app-style-binding></app-style-binding>
  <h1 style="text-align:center;color: brown">Event-Binding</h1>
  <app-event-binding></app-event-binding>-->
  <h1 style="text-align:center;color: brown">Two-Way-Data-Binding</h1>
  <app-two-way-binding></app-two-way-binding>

 
